@media screen and (max-width:968px) {

    /* Barra de Navegação responsiva */
    .logo-container {
        font-weight: 600;
    }

    .nav-container nav {
        justify-content: center;
    }

    .left-menu,
    .right-menu {
        display: none;
        position: absolute;
        top: -999px;
       
    }

    .left-menu li a,
    .right-menu li a {
        padding: 5px 20px;
        display: block;
        width: 100%;
    }

    .btn-nav-res {
        display: block;
    }

    /* Fim Barra de Navegação responsiva */


    .img-perfil {
        display: none;
    }

    .texto-perfil {
        width: 100%;

    }

    /* Sobre*/
    .container-sobre{
        flex-direction: column;
        flex-wrap: wrap;
    }
.img-perfil-sobre{
    width: 100%;
    margin-bottom: 50px;
}
.sobre-textos{
    width: 100%;
}

}

@media screen and (max-width:790px) {

    /* Barra de Navegação responsiva */
    .nav-container nav {
        justify-content: space-around;
    }

    .logo-container {
        justify-content: space-around;
        width: 80%;
        margin-right: -60px;
        font-weight: 600;
    }

    /* Fim Barra de Navegação responsiva */

    /* Chamada principal */
    .img-perfil {
        display: none;
    }

    .texto-perfil {
        width: 100%;

    }

    .texto-perfil h1 {
        font-size: 6.5vh;
        margin-bottom: 1em;
    }

    .texto-perfil p {
        font-size: 1.4em;
    }

    .btn-chamada-container {
        margin-top: 1em;
    }

    /* Fim Chamada principal */

    .question {
        font-size: 3em;
        margin-bottom: 3em;
    }
    /*  call to action*/

    .call-action{       
        flex-direction: column;
    }
    .info-action{
        width: 100%;
    }

    .whats-button{
        width: 100%;
    }

    /* Footer */
.footer{
    grid-template-areas: "menu-footer"
    "contato-footer"
    "redes-footer"
    "copy-footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
}

}

@media screen and (max-width: 450px) {
    .info-top {
        font-size: 0.8em;
    }

    /* Barra de Navegação responsiva */
    .btn-nav-res {
        padding: 10px;
        margin-left: 0;
    }

    .logo-principal {
        font-weight: 600;
        width: 100%;
        font-size: 12vw;
        margin-left: -35px;
    }

    /* Fim Barra de Navegação responsiva */

    /* Chamada principal */
    .img-perfil {
        display: none;
    }

    .texto-perfil {
        width: 100%;
        height: 100%;

    }

    .texto-perfil h1 {
        /* font-size: 6vh; */
        font-size: 1.8em;
        text-shadow: 0px 1px 1px rgb(7, 0, 0);
        margin-bottom: 1em;
    }

    .texto-perfil p {
        font-size: 1.5em;
    }

    .btn-chamada-container {
        margin-top: 0.5em;
    }

    .btn-chamada {
        padding: 15px 20px;
    }

    /* fim Chamada principal */


    .question {
        font-size: 2em;
        margin-bottom: 5em;
    }

    .cards-questions {
        flex-direction: column;
    }
    /* Informacoes */
    .section-info h2{
       margin-bottom: 50px;
    }
    .info-contato-detalhe{
        margin: 0;
    }
    .info-contato-detalhe{

        padding: 0;
    }
    .section-info .info-contato-detalhe ul li{
       
        background-position: center center;
        background-position-x: center;
        background-position-y: top;

        padding: 50px 0 20px 0;
        text-align: center;
        font-size: 0.9em;
    }

    /* sobre */
    .sobre-info-page h1{
        font-size: 2.6em;
    }

}


@media screen and (max-width:320px) {
    .info-top {
        font-size: 0.6em;
        letter-spacing: 0;
    }

    /* Chamada principal */
    .texto-perfil h1 {
        font-size: 5vh;
        margin-bottom: 1em;
    }

    .texto-perfil p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    /* Fim Chamada principal */


     /* ACTION */



     .info-action{
        padding: 5px;
     }
     .info-action p{
        font-size: 1em;
     }
  /* informações */

  .section-info .info-contato-detalhe ul li:last-child{
    /* font-size: 0.7em; */
    font-size: 2.5vh;
  }


  /* Sobre */
  .sobre-info-page h1{
    font-size: 2.1em;
}

}




/* Responsividade ul esquerda e direita */
.responseLeft {
    width: 80%;
    height: 180px;
    display: flex;
    top: 65px;
    background-color: var(--cor-neutra);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    transition: all 0.5s;
}

.responseRight {
    width: 80%;
    display: flex;
    height: 244px;
    top: 240px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;

}

.responseRight>.horizontal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  
}