@media screen and (max-width:968px) {
/* Barra de Navegação responsiva */
    .logo-container {
        font-weight: 600;
    }
    .nav-container nav {
        justify-content: center;
    }

    .left-menu, .right-menu {  
        display: none;
        position: absolute;
        top: -999px;
        transition: all 0.3s;
    } 

    .left-menu li a, .right-menu li a{
        padding: 5px 20px;
        display: block;
        width: 100%;
    }

    .btn-nav-res {
        display: block;
    }
    
/* Fim Barra de Navegação responsiva */


.img-perfil{
    display: none;
}

.texto-perfil{           
    width: 100%;      
 
}


}

@media screen and (max-width:790px) {

        /* Barra de Navegação responsiva */
        .nav-container nav {
            justify-content: space-around;
        }
        
    .logo-container {    
        justify-content: space-around;
        width: 80%;
        margin-right: -60px;
        font-weight: 600;
    }
    /* Fim Barra de Navegação responsiva */

    /* Chamada principal */
    .img-perfil{
        display: none;
    }
  
    .texto-perfil{           
        width: 100%;      
     
}
    .texto-perfil h1{
        font-size:6.5vh;
        margin-bottom: 1em;
    }
    .texto-perfil p{
        font-size: 1.4em;
    }
    .btn-chamada-container{
        margin-top: 1em;
    }  
    /* Fim Chamada principal */
    
}

@media screen and (max-width: 450px) {
        /* Barra de Navegação responsiva */
        .btn-nav-res {
            padding: 10px;
            margin-left: 0;
        }
        .logo-principal {
            font-weight: 600;
            width: 100%;
            font-size: 12vw;
            margin-left: -35px;
        }
        /* Fim Barra de Navegação responsiva */

        /* Chamada principal */
        .img-perfil{
            display: none;
        }
        .texto-perfil{           
            width: 100%; 
            height: 100%;
         
 }
        .texto-perfil h1{
            font-size:6vh;
            margin-bottom: 1em;
        }
        .texto-perfil p{
            font-size: 1.5em;
        }
        .btn-chamada-container{
            margin-top: 0.5em;
        }
        .btn-chamada{
            padding: 15px 20px;
        }
            /* fim Chamada principal */
}


@media screen and (max-width:380px) {   
    .info-top{
        font-size: 0.8em;
    }
    /* Chamada principal */
    .texto-perfil h1{
        font-size:5vh;
        margin-bottom: 2em;
    }
    .texto-perfil p{
        font-size: 1.2em;
        margin-bottom: 3em;
    }
        /* Fim Chamada principal */
    
}
@media screen and (max-width:320px) {
    .info-top{
        font-size: 0.6em;
    } 
}

/* --------------- landscape------------------ */

/* @media screen and (orientation: landscape) {
    .texto-perfil h1{
        font-size:2.4em;
        margin-bottom: 1em;
    }
    .img-perfil{
        display: none;
    }
    .texto-perfil{
        width: 100%;
    }
} */


/* Responsividade ul esquerda e direita */
.responseLeft {
    width: 80%;  
    height: 180px;
    display: flex;
    top: 65px;
    background-color: var(--cor-neutra);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.responseRight {
    width: 80%;
    display: flex;
    height: 244px;
    top: 240px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
}

.responseRight > .horizontal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;  
}




















