@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lora&family=Parisienne&family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;300&display=swap');

/* @font-face {
    font-family: Caveat;
    font-family: Lora;
    font-family: Parisienne;
    font-family: Poppins;
    font-family: Raleway;
    src: url(../fontes/Caveat/Caveat-VariableFont_wght.ttf),
        url(../fontes/Caveat/static/Caveat-Bold.ttf),
        url(../fontes/Caveat/static/Caveat-Medium.ttf),
        url(../fontes/Caveat/static/Caveat-Regular.ttf),
        url(../fontes/Lora/Lora-VariableFont_wght.ttf),
        url(../fontes/Lora/Lora-VariableFont_wght.ttf),
        url(../fontes/Lora/static/Lora-Medium.ttf),
        url(../fontes/Parisienne/Parisienne-Regular.ttf),
        
        url(../fontes/Poppins/Poppins-Black.ttf),
        url(../fontes/Poppins/Poppins-Light.ttf),
        url(../fontes/Raleway/Raleway-VariableFont_wght.ttf),
        url(../fontes/Raleway/static/Raleway-Medium.ttf)

} */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

:root {
    /* Cores */
    --cor-principal: #966873;
    --cor-secundaria: #dc9999;
    --cor-neutra: #f9f4f0;
    /* Fontes */
    --fonte-links: 'Caveat', cursive;
    --fonte-secundaria: 'Parisienne', cursive;
    --fonte-lora: 'Lora', serif;
    --fonte-poppins: 'Poppins', sans-serif;
    /* thin 100 light 300 */
    --fonte-textos: 'Raleway', sans-serif;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(190, 182, 182);
    max-width: 1444px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* Main Classes uso comun */
.flex-colum-centerAll {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* <!-- Container principal --> */
.container {
    min-width: 310px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--cor-principal);
}

/* <!-- Topo site telefones --> */
.info-top {
    padding: 10px 25px 10px 0;
    border-bottom: 1px solid rgb(107, 87, 87);
    margin-bottom: 20px;
    width: 100%;
    text-align: right;
}

.info-top a {
    color: var(--cor-neutra);
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.info-top a i {
    margin-right: 5px;
    font-size: 1.2em;
    color: #fdcbd6;
}

/*  <!-- Container da barra navegação --> */

.nav-container {
    width: 90%;
    height: 65px;
    background-color: var(--cor-neutra);
    border-radius: 30px;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 1px 10px 10px 10pxvar(--cor-principal);
    position: relative;
}

.nav-container nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.left-menu,
.right-menu {
    list-style-type: none;
    display: flex;
    width: 25%;
    justify-content: space-around;
    font-family: var(--fonte-links);
    background-color: var(--cor-neutra);
    z-index: 2;

}

.links-nav,
.rede-link {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--cor-principal);
    margin-right: 10px;
    padding: 5px;
    letter-spacing: 1px;
}

.links-nav:hover {
    color: var(--cor-secundaria);
    text-shadow: 0 1px 2px rgba(253, 24, 24, 0.274);
}

.rede-link:hover {
    color: var(--cor-neutra);
    text-shadow: 0 0 5px #fff, 0 0 2px #000;

}

/* Redes Sociais - Barra navegação */
.horizontal {
    display: flex;
    list-style-type: none;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-principal {
    color: var(--cor-secundaria);
    width: 90%;
    font-family: var(--fonte-secundaria);
    font-size: 3.3em;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(82, 197, 107);
}

.logo-principal:hover {
    color: var(--cor-principal);
    text-shadow: 1px 1px 1px rgb(163, 182, 167);
}

.btn-nav-res,
.btn-nav-res-close {
    color: rgb(201, 77, 77);
    font-size: 1.4em;
    padding: 10px;
    display: none;
}

/* Fim barra navegação */


/*  <!-- Chamada Principal --> */
.chamada-principal {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(../img/slicebg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}


.container-chamada {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-perfil {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.texto-perfil {
    position: relative;
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-color: #47323286;
    padding: 20px;



}
.texto-perfil h1 {
    font-family: var(--fonte-poppins);
    font-size: 2.8em;
    margin-bottom: 1em;
    color: #fff;



}
.texto-perfil p {
    font-family: var(--fonte-textos);
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}
.btn-chamada-container {
    margin-top: 2em;
    width: 100%;

}
.btn-chamada {
    font-family: var(--fonte-textos);
    text-decoration: none;
    background-color: var(--cor-principal);
    padding: 25px 60px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    color: var(--cor-neutra);
    opacity: 1;
    transition: opacity 0.1s;
    box-shadow: 0 0 10px rgb(59, 58, 58);
    font-size: 1.3em;
}
.btn-chamada:hover {
    font-weight: 700;
    opacity: 0.8;
}

/* SEPARADOR */

.separador-section {
    width: 100%;
    height: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-neutra);
}
.separador-span {
    font-family: var(--fonte-secundaria);
    color: var(--cor-principal);
    font-size: 2em;
    transform: rotate(5deg);
    font-weight: 100;

}

/* CARDS INFO */

.cards-info {
    width: 100%;
    height: 100%;
}
.question {
    width: 100%;
    font-size: 4em;
    margin: 5% 0 15% 0;
    text-align: center;
    font-family: var(--fonte-textos);
    color: var(--cor-neutra);
}
.cards-questions {
    width: 100%;
    height: 100%;
    background-image: url(../img/bagWhite.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-body {
    width: 30%;
    min-width: 320px;
    height: 450px;
    transform: translateY(-120px);
    margin-bottom: 30px;
}
.img-card {
    width: 300px;
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    outline: 10px solid var(--cor-neutra);
}
.img-card img {
    width: 450px;
}
.text-card {
    height: 40%;
    border-radius: 30px;
    background-color: #47323286;
    border-radius: 10px;
    padding: 5px 10px;

}
.text-card p {
    font-size: 1.3em;
    font-family: var(--fonte-textos);
    color: #fff;
    font-weight: 500;

}
/* SECTION CALL TO ACTION  */
.call-action {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.call-action .title-action{
   width: 100%;
   display: block;
    font-size: 3em;
    font-family: var(--fonte-secundaria);
    color: var(--cor-neutra);
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(134, 134, 134);
}
.info-action {
    width: 45%;
    padding: 1em;
}
.info-action p {
    font-size: 1.4em;
    font-family: var(--fonte-textos);
    color: var(--cor-neutra);
}
.whats-button {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    background-color: rgb(27, 182, 27);
    color: var(--cor-neutra);
    padding: 5% 12%;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 25px rgb(87, 85, 85);
    font-family: var(--fonte-links);
    margin-bottom: 20px;
    transition: 0.5s all;
}
.whats-button a:hover {
    box-shadow: 0 1px 20px var(--cor-neutra);
    background-color: #fff;
    color: var(--cor-principal);
}
.whats-button a i {
    font-size: 2em;
    text-align: center;
    margin-right: 12px;
}

.top-link-back {
    position: absolute;
    bottom: 20px;
    right: 100px;
    color: var(--cor-neutra);
    border: 1px solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
/*https://www.theappguruz.com/tag-tools/web/CSSAnimations/ */

/* FOOTER geral */

footer {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #18200e;
    background-image: url(../img/footerbg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

.footer-container {
    display: grid;
    width: 98%;
    margin: 10px auto 0 auto;
    height: 100%;
    grid-template-areas: "menu-footer contato-footer contato-footer redes-footer"
        "copy-footer copy-footer copy-footer copy-footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr auto;
    gap: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #47323286;
}

.menu-footer {
    grid-area: menu-footer;
}

.footer ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-footer li {
    /* display: inline-block; */
    width: 100%;
    text-align: center;
}

.menu-footer li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--cor-neutra);
    text-transform: capitalize;
    font-family: var(--fonte-links);
    font-size: 1.7em;
    letter-spacing: 0.1em;

}

.contato-footer {
    grid-area: contato-footer;
    color: var(--cor-neutra);
    font-family: var(--fonte-poppins);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: left;
    margin:20px auto 50px auto;  
    height: 100%;
}
.redes-footer {
    grid-area: redes-footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes-footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.rede-footer-link:hover {
    color: var(--cor-principal);
    text-shadow: 0 0 2px rgb(255, 254, 254), 0 0 15px rgb(255, 253, 253);
}

.rede-footer-link {
    padding: 20px;
    text-decoration: none;
    color: var(--cor-neutra);
    font-size: 2em;
}

.footer a:hover {
    color: var(--cor-principal);
    transition: all 0.2s;
}

.copy-footer {
    border-top: 2px solid rgb(121, 116, 116);
    grid-area: copy-footer;
    font-family: var(--fonte-poppins);
    text-align: center;
    font-size: 0.8em;
}

/* 
***************INFORMAÇÕES****************
*/
#informacoes {

    background-image: url(../img/low-dark.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-info {


    /* background-attachment: fixed; */
    padding: 80px 10px 20px 10px;
}

.section-info h2 {
    font-family: var(--fonte-lora);
    font-size: 3em;
    text-align: center;
    color: #fff;
}

.section-info li {
    list-style-type: none;
    background-image: url(../logo-icon/lista-ico-info.png);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px solid #fff;
    margin: 0 auto 20px auto;
    padding: 20px 0 20px 60px;
    width: 90%;
    font-size: 1.2em;
    font-family: var(--fonte-poppins);
    color: #fff;
    text-shadow: 0px 1px 1px #000000;
    line-height: 30px;
}

.section-info article {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.048);
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 10px 50px 10px;

}

.footer-informacoes {
    background-image: none;
    background-color: transparent;
}


.detalhes p {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: var(--fonte-poppins);
    color: #fff;
    text-shadow: 0px 1px 1px #000000;
    line-height: 30px;
}

/* BLOG */


.blog-temp {
    width: 100vw;
    height: 100vh;
    color: var(--cor-neutra);
    background: linear-gradient(179deg, var(--cor-principal), var(--cor-neutra));
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

.blog-temp h1 {
    font-size: 10vw;
    text-align: center;
    font-family: var(--fonte-lora);
}

.blog-temp p {
    font-size: 5vh;
    font-weight: 900;
    text-align: center;
    font-family: var(--fonte-secundaria);
}


/* SOBRE - SECTION */
.sobre-info-page {
    padding: 20px;
}

.container-sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sobre-info-page h1 {
    font-family: var(--fonte-lora);
    color: var(--cor-neutra);
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
}

.sobre-info-page h2 {
    color: var(--cor-neutra);
    font-family: var(--fonte-textos);
    margin-bottom: 50px;
    text-align: center;


}

.sobre-textos {
    width: 50%;
    font-family: var(--fonte-textos);
    font-size: 1.3em;
    color: var(--cor-neutra);
    text-shadow: 1px 1px 5px #000000;
}

.img-perfil-sobre {
    width: 45%;
    height: 100%;
}

.img-perfil-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 50%;
}

.img-perfil-sobre img {
    width: 100%;
    height: 110%;
    object-fit: cover;
}